// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
   .element-animation {
      opacity: 1 !important;
   }
   header {
      main {
         img {
            display: none;
         }
         .mobile_sneakers {
            width: 100% !important;
            margin: auto !important;
            display: inline-block !important;
            transition: 0.5s;
            &:hover {
               transform: scale(1.1);
            }
         }
         h1 {
            font-size: 40px !important;
            margin-top: 0 !important;
         }
      }
   }
   .benefits {
      h4 {
         font-size: 40px !important;
      }
      ul {
         gap: 0 !important;
         li {
            padding: 55px 0 !important;
         }
      }
   }
   .li_container {
      margin: auto !important;
      .btn_form {
         max-width: 100% !important;
      }
   }
   .sneakers {
      h6,
      h4,
      nav {
         text-align: center !important;
         justify-content: center;
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .element-animation {
      opacity: 1 !important;
   }
   header {
      main {
         img {
            display: none;
         }
         .mobile_sneakers {
            width: 100% !important;
            margin: auto !important;
            display: inline-block !important;
            transition: 0.5s;
            &:hover {
               transform: scale(1.1);
            }
         }
      }
   }
   .slick-list {
      margin: auto !important;
   }
   .slick-prev {
      left: 75% !important;
   }
   .slick-next {
      right: 70px !important;
   }
   .li_container {
      margin: auto !important;
      .btn_form {
         max-width: 100% !important;
      }
   }
   .slick-slide {
      div:nth-child(1) {
         margin-bottom: 30px !important;
      }
   }
}
@media (max-width: 499.98px) {
   .slick-prev {
      left: 21% !important;
   }
   .slick-next {
      right: 29% !important;
   }
   .slick-prev,
   .slick-next {
      top: 440px !important;
   }
   .slick-dots {
      position: initial !important;
      margin-top: 30%;
      //   bottom: -180px !important;
      flex-wrap: wrap;
      gap: 9px;
   }
   .slick-slider {
      margin-bottom: 200px !important;
   }
}
@media (min-width: 500px) and (max-width: 654.98px) {
   .slick-prev {
      left: 2.5% !important;
   }
   .slick-next {
      right: 8% !important;
   }
   .slick-prev,
   .slick-next {
      top: 195px !important;
   }
   .slick-dots {
      margin-top: 24px !important;
      flex-wrap: wrap;
      gap: 9px;
   }
}
@media (min-width: 655px) and (max-width: 767.98px) {
   .slick-prev {
      left: 28% !important;
   }
   .slick-next {
      right: 30% !important;
   }
   .slick-prev,
   .slick-next {
      top: 881px !important;
   }
   .slick-dots {
      margin-top: 24px !important;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .element-animation {
      opacity: 1 !important;
   }
   .slick-list {
      margin: auto !important;
   }
   .slick-prev {
      left: 28% !important;
   }
   .slick-next {
      right: 30% !important;
   }
   .li_container {
      margin: auto !important;
   }
   .slick-dots {
      margin-top: 60px !important;
   }
   .slick-prev,
   .slick-next {
      top: 857px !important;
   }
   .li_container {
      margin: auto !important;
      .btn_form {
         max-width: 100% !important;
      }
   }
}
@media (max-width: 1092.98px) {
   header {
      main {
         justify-content: center !important;
         margin-top: 200px;
         h1 {
            margin-bottom: 50px;
         }
         * {
            text-align: center !important;
         }
      }
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
   .slick-dots {
      margin-top: 5% !important;
   }
   .slick-list {
      margin: auto !important;
   }
   .slick-prev {
      left: 85% !important;
   }
   .slick-next {
      right: 50px !important;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .slick-dots {
      margin-top: 5% !important;
   }
}

@media (min-width: 1400px) {
   .slick-dots {
      margin-top: 5% !important;
   }
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
