@charset "UTF-8";
@media (min-width: 320px) and (max-width: 575.98px) {
  .element-animation {
    opacity: 1 !important;
  }
  header main img {
    display: none;
  }
  header main .mobile_sneakers {
    width: 100% !important;
    margin: auto !important;
    display: inline-block !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header main .mobile_sneakers:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header main h1 {
    font-size: 40px !important;
    margin-top: 0 !important;
  }
  .benefits h4 {
    font-size: 40px !important;
  }
  .benefits ul {
    gap: 0 !important;
  }
  .benefits ul li {
    padding: 55px 0 !important;
  }
  .li_container {
    margin: auto !important;
  }
  .li_container .btn_form {
    max-width: 100% !important;
  }
  .sneakers h6,
.sneakers h4,
.sneakers nav {
    text-align: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .element-animation {
    opacity: 1 !important;
  }
  header main img {
    display: none;
  }
  header main .mobile_sneakers {
    width: 100% !important;
    margin: auto !important;
    display: inline-block !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header main .mobile_sneakers:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .slick-list {
    margin: auto !important;
  }
  .slick-prev {
    left: 75% !important;
  }
  .slick-next {
    right: 70px !important;
  }
  .li_container {
    margin: auto !important;
  }
  .li_container .btn_form {
    max-width: 100% !important;
  }
  .slick-slide div:nth-child(1) {
    margin-bottom: 30px !important;
  }
}
@media (max-width: 499.98px) {
  .slick-prev {
    left: 21% !important;
  }
  .slick-next {
    right: 29% !important;
  }
  .slick-prev,
.slick-next {
    top: 440px !important;
  }
  .slick-dots {
    position: initial !important;
    margin-top: 30%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 9px;
  }
  .slick-slider {
    margin-bottom: 200px !important;
  }
}
@media (min-width: 500px) and (max-width: 654.98px) {
  .slick-prev {
    left: 2.5% !important;
  }
  .slick-next {
    right: 8% !important;
  }
  .slick-prev,
.slick-next {
    top: 195px !important;
  }
  .slick-dots {
    margin-top: 24px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 9px;
  }
}
@media (min-width: 655px) and (max-width: 767.98px) {
  .slick-prev {
    left: 28% !important;
  }
  .slick-next {
    right: 30% !important;
  }
  .slick-prev,
.slick-next {
    top: 881px !important;
  }
  .slick-dots {
    margin-top: 110px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .element-animation {
    opacity: 1 !important;
  }
  .slick-list {
    margin: auto !important;
  }
  .slick-prev {
    left: 28% !important;
  }
  .slick-next {
    right: 30% !important;
  }
  .li_container {
    margin: auto !important;
  }
  .slick-dots {
    margin-top: 150px !important;
  }
  .slick-prev,
.slick-next {
    top: 857px !important;
  }
  .li_container {
    margin: auto !important;
  }
  .li_container .btn_form {
    max-width: 100% !important;
  }
}
@media (max-width: 1092.98px) {
  header main {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 200px;
  }
  header main h1 {
    margin-bottom: 50px;
  }
  header main * {
    text-align: center !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .slick-dots {
    margin-top: 5% !important;
  }
  .slick-list {
    margin: auto !important;
  }
  .slick-prev {
    left: 80% !important;
  }
  .slick-next {
    right: 50px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .slick-dots {
    margin-top: 5% !important;
  }
  .slick-prev {
    z-index: 100;
    left: 955px !important;
  }
}
@media (min-width: 1400px) {
  .slick-dots {
    margin-top: 5% !important;
  }
  .slick-prev {
    z-index: 100;
    left: 88% !important;
  }
}
@media (width: 320px) and (height: 568px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 320px) and (width: 568px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 375px) and (height: 667px) {
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 375px) and (width: 667px) {
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 414px) and (height: 736px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 414px) and (width: 736px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 414px) and (height: 896px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 414px) and (width: 896px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 320px) and (height: 568px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 320px) and (width: 568px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 375px) and (height: 812px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 375px) and (width: 812px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 390px) and (height: 844px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 390px) and (width: 844px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 428px) and (height: 896px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 428px) and (width: 896px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 390px) and (height: 844px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 390px) and (width: 844px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 393px) and (height: 852px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 393px) and (width: 852px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (width: 430px) and (height: 932px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
@media (height: 430px) and (width: 932px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
.slick-next {
    top: 550px !important;
    width: 45px !important;
  }
  .slick-prev {
    left: 25% !important;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 60px 0 30px;
  font-family: "Poppins", sans-serif;
  background: #1e252b;
}

.loaded #preloader {
  display: none;
}

#preloader {
  background: #1e252b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.element-animation {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
}

.element-show {
  opacity: 1;
  -webkit-transition: opacity 1.5s !important;
  transition: opacity 1.5s !important;
}

.mobile_sneakers {
  display: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding: 0 30px;
}

header h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
header h3 img {
  margin-right: 2px;
}
header main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}
header main h1 {
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
  color: #dfdfdf;
  width: 100%;
  max-width: 435px;
  margin-top: -50px;
}
header main h1 span {
  color: #ee5514;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ee5514;
}

.subtitle {
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: #dfdfdf;
  margin-top: 10px;
}

.benefits {
  margin: 140px auto;
}
.benefits ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefits ul * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.benefits ul li {
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  padding: 55px;
  text-align: center;
}
.benefits ul li img {
  cursor: pointer;
}
.benefits ul li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.benefits ul li h6 {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  margin-top: 25px;
  text-align: center;
  color: #dfdfdf;
}

.sneakers {
  position: relative;
  overflow-x: hidden;
}
.sneakers * {
  text-align: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sneakers nav {
  margin-top: 18px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.sneakers p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #dfdfdf;
  opacity: 0.7;
}
.sneakers a,
.sneakers span {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.sneakers a::before,
.sneakers span::before {
  content: "";
  position: absolute;
  background: #ee5514;
  width: 0;
  height: 1px;
  bottom: -5px;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
}
.sneakers a:hover,
.sneakers span:hover {
  color: rgb(238, 85, 20);
}
.sneakers a:hover::before,
.sneakers span:hover::before {
  right: auto;
  left: 0;
  width: 100%;
  opacity: 1;
}
.sneakers main {
  width: 100%;
}
.sneakers .slick-slide {
  width: 265px;
  margin: 0 15px;
}
.sneakers .slick-slide div:nth-child(1) {
  margin-bottom: 30px;
}
.sneakers .slick-slide div {
  margin: auto;
}
.sneakers .slick-list {
  margin: 0 -35px;
}
.sneakers .slick-slider {
  margin-bottom: 140px;
}
.sneakers .slick-dots {
  position: initial !important;
  margin-top: 35%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}
.sneakers .slick-dots * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sneakers .slick-dots li {
  height: 25px;
}
.sneakers .slick-dots li button:before {
  font-size: 20px;
  color: #ee5514;
  opacity: 0.25;
}
.sneakers .slick-dots .slick-active button:before {
  font-size: 20px;
  opacity: 1;
}
.sneakers ul * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sneakers ul img {
  border: 2px solid rgba(238, 85, 20, 0);
  -webkit-filter: drop-shadow(0px 1px 30px rgba(26, 10, 3, 0.05));
          filter: drop-shadow(0px 1px 30px rgba(26, 10, 3, 0.05));
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 170px;
  max-width: 270px;
}
.sneakers ul li {
  cursor: pointer;
}
.sneakers ul li .li_container {
  max-width: 265px;
  min-width: 265px;
}
.sneakers ul li:hover .btn_form {
  margin-top: 15px;
  max-width: 100%;
}
.sneakers ul li:hover img {
  border: 2px solid rgb(238, 85, 20);
}
.sneakers ul .li_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #fff;
  margin-top: 30px;
}
.sneakers ul .li_size {
  margin-bottom: 10px;
  margin-top: 10px;
}
.sneakers ul p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sneakers ul p span {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.sneakers ul p span::after {
  margin-bottom: -3px;
}
.sneakers ul .btn_form {
  margin-top: 15px;
  max-width: 128px;
}

.btn_form {
  margin-top: 10px;
  width: 100%;
  max-width: 128px;
}
.btn_form .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  background: #ee5514;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.btn_form .btn:hover {
  background: #ba4411;
}

.slick-prev,
.slick-next {
  z-index: 100000 !important;
  top: -60px;
  width: 45px;
  height: 50px !important;
}
.slick-prev::before,
.slick-next::before {
  font-size: 42px;
  line-height: 1;
  color: #ee5514;
  opacity: 1;
}

.slick-next {
  z-index: 100;
  right: 0px;
}

.slick-prev {
  z-index: 100;
  left: 1000px;
}

.slick-track {
  -webkit-transition: 0 !important;
  transition: 0 !important;
}